<div class="w-11/12 flex flex-col items-center m-4">
  <div class="flex flex-col w-full">
    <h2>What do you want to upgrade?</h2>
  <create-ui-chips-search
    (selectCategory)="search($event)"
    [chips]="staticChips"
  ></create-ui-chips-search>
  </div>
  <div class="flex flex-col w-full my-6">
    <h2>You ideate and You create.</h2>
    <p>Explore over 100 awesome DIY ideas.</p>
  </div>
<!--  <create-ui-input-search></create-ui-input-search>-->
  <div class="flex flex-col w-full">
  <create-ui-project-category-chips #projectCategoryChipsComponent class="w-full"></create-ui-project-category-chips>
    <div class="flex w-full justify-end">

    <button mat-raised-button color="primary" (click)="searchByInputField()"> <mat-icon>search</mat-icon> Search</button>
    </div>

  </div>
  <div class="flex flex-col w-full">
    <h2>Trending searches</h2>
    <create-ui-chips-search
      (selectCategory)="search($event)"
      [chips]="trendingChips$ | async"
    ></create-ui-chips-search>
  </div>
</div>
