<form [formGroup]="form()" class="flex flex-col items-center w-full">
  <create-ui-file-upload
    class="w-11/12 m-4"
    #fileUploadComponent
  ></create-ui-file-upload>
  <mat-form-field class="w-11/12">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>
  <mat-form-field class="w-11/12">
    <mat-label>Subtitle</mat-label>
    <input matInput formControlName="subtitle" />
  </mat-form-field>
  <mat-form-field class="w-11/12">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <create-ui-project-difficulty
    (difficultyChange)="difficultyChange($event)"
    [editable]="true"
    class="w-11/12"
    [difficulty]="2"
  ></create-ui-project-difficulty>
  <mat-form-field class="w-11/12">
    <mat-label>Categories</mat-label>
    <mat-chip-grid #chipGrid aria-label="Enter category">
      <mat-chip-row
        *ngFor="let category of form().get('categories')?.value || []"
        (removed)="remove(category.title)"
        [editable]="true"
        (edited)="edit(category.title, $event)"
        [aria-description]="'press enter to edit ' + category.title"
      >
        {{ category.title }}
        <button matChipRemove [attr.aria-label]="'remove ' + category.title">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      <input
        placeholder="New category..."
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-grid>
  </mat-form-field>
  <button mat-flat-button class="w-1/2" [color]="'primary'" (click)="save()">
    Save
  </button>
</form>
