<form [formGroup]="form()" class="flex flex-col items-center w-full">
  <create-ui-file-upload
    [url]="uploadUrl"
    class="w-11/12 m-4"
    #fileUploadComponent
  ></create-ui-file-upload>
  <mat-form-field class="w-11/12">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>
  <mat-form-field class="w-11/12">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <button mat-flat-button class="w-1/2" [color]="'primary'" (click)="save()">
    Save
  </button>
</form>
